.experience-container h3{
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 2rem;
}

.experience-content{
    width: 70%;
    height: 50vh;
    background: linear-gradient(var(--color-primary), transparent);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    margin: auto;
    margin-top: 5rem;
}

.experience-front{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experience-details{
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {
    #experience{
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 4rem;
    }
}